/* Main stylesheet for SE4 Project 1 website */

body {
    background-color: #e8e8e8;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.centered-text {
    text-align: center;
}
.small-text {
    font-size: 12px;
    color: #898989;
}
table, th, td {
    border: 1px solid #a5a5a5;
    border-spacing: 0px;
}
th, td {
    padding: 6px;
}
th {
    background-color: #e8e8e8;
}

/* Specific style components */
#header {
    position: relative;
    color: #f8f8f8;
    background-color: #33323D; /*slate*/
    width: 100%;
    height: auto;
    z-index: 200;
}
#header>h1 { /*website title*/
    padding: 12px 0px;
    margin: 0px;
}
#navbar {
    width: 500px;
    height: 50px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#navbar>a { /*menu buttons*/
    color: #f8f8f8;
    height: 50px;
    width: 25%;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: .25s;
}
#navbar>a:hover {
    color: #33323D;
    background-color: #f8f8f8;
}
#navbar>.selected {
    color: #33323D;
    background-color: #f8f8f8;
}
#navbar>.selected:hover {
    color: #33323D;
    background-color: #f8f8f8;
}
#content {
    position: relative;
    width: 1200px;
    padding: 12px 20px 32px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 20px;
    z-index: 100;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.panel>div {
    padding-bottom: 18px;
}